body {
    margin: 0;
    background-color:black;
    color: red;
}

.container {
    width: 100vw;
    height: 100vh;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 1fr 1fr 1fr 1fr;

    gap: 5px;

    padding: 5px;
    box-sizing: border-box;

}

.container header {
    padding: 10px;
    border: 1px solid red;
    grid-column-start: 1;
    grid-column-end: 5;
}

.container #user-input-section {
    padding: 10px;
    border: 1px solid red;

    grid-column-start: 1;
    grid-column-end: 3;

}

.container #statistics {
    padding: 10px;
    border: 1px solid red;

    grid-column-start: 3;
    grid-column-end: 5;

}

.container #paycheck-information {
    padding: 10px;
    border: 1px solid red;

    grid-column-start: 1;
    grid-column-end: 3;

}

.container #server-performance-score {
    padding: 10px;
    border: 1px solid red;

    grid-column-start: 3;
    grid-column-end: 5;

}

.questions-and-push {
    display: flex;
    justify-content: space-evenly;
}

div .button {
    padding: 5% 0;
}

button {
    font-size: 15px;
    padding: 0.5em 1em;
    margin: 0.10em;
    border-radius: 1em;
    border: none;
    outline: none;
    background: red;
    color:black;
}

